.bountyContainer{
    display: grid;
    width: 100%;
    height: min-content;
    
}

.noSubleases{
    text-align: center;
    font-size: xx-large;
    margin-top: 1rem;
}

.bountyTitle{
    grid-area: title;
    font-size: larger;
}

.bountyView{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    overflow-x: auto;
    align-items: center;
    height: 24rem;
}

.bountyCards{
    border: 1px solid grey;
    display: grid;
    background-color: white;
    grid-template-areas:
    'image general'
    'description description';
    grid-template-rows: .5fr 1fr;
    grid-template-columns: 1.5fr 1fr;
    width: 25rem;
    height: 22rem;
}

.bountyCards:hover{
    cursor: pointer;
    box-shadow: 0 0 10px 0 #443182;
    transition: 0.3s;
    scale: 1.08;
}

.bountyImage{
    grid-area: image;
    max-width: 100%;
    height: auto;
}

.bountyGeneral{
    grid-area: general;
    display: grid;
}


.bountyDescription{
    display: flex;
    flex-direction: column;
    grid-area: description;
    height: 100%;
}

.bountyDescription > button{
    width: 5rem;
    margin: auto;
}

.aptmntViewButton{
    width: 20rem;
    height: 3rem;
    color: white;
    background-color: #443182;
    border: 1px solid #443182;
    border-radius: 5px;
}

.aptmntViewButton:hover{
    cursor: pointer;
    background-color: #2e1f6e;
}